In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Importing the aisle, department and product datasets
aisles=pd.read_csv('../raw_data/aisles.csv')
departments=pd.read_csv("../raw_data/departments.csv")
products=pd.read_csv("../raw_data/products.csv")

In [3]:
#Importing the orders and order details
orders=pd.read_csv("../raw_data/orders.csv")
order_details_prior=pd.read_csv("../raw_data/order_products__prior.csv")

We are going to combine the orders and order details to form a dataframe that has has the user IDs as rows and product IDs as columns. The number of times that a customer ordered each product is the value. This will help in identifying users who are similar and help in choosing what products to recommend to each customer.

In [4]:
#Merge the dataframes to get the user ids for each order
prior_orders_merged=order_details_prior.merge(orders.loc[:,["user_id","order_id"]],on='order_id')
prior_orders_merged.drop(["add_to_cart_order"],axis=1,inplace=True)
prior_orders_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   order_id    int64
 1   product_id  int64
 2   reordered   int64
 3   user_id     int64
dtypes: int64(4)
memory usage: 1.2 GB

In [5]:
prior_orders_merged.isna().sum()

order_id      0
product_id    0
reordered     0
user_id       0
dtype: int64

In [6]:
prior_orders_merged1=prior_orders_merged[["product_id","user_id"]][:500000]

In [7]:
#https://stackoverflow.com/questions/22412033/python-pandas-pivot-table-count-frequency-in-one-column
#https://github.com/pandas-dev/pandas/issues/10582
#need to run in chunks?
t1=prior_orders_merged1.pivot_table(index='user_id', columns='product_id', 
                        aggfunc=len, fill_value=np.int8(0),dropna=False)

In [8]:
t1

product_id,1,2,3,4,9,10,12,14,18,19,...,49676,49677,49678,49679,49680,49681,49683,49685,49686,49688
user_id,,,,,,,,,,,,,,,,,,,,,
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
206206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print(t1[t1.iloc[:,1]!=0])

product_id  1      2      3      4      9      10     12     14     18     \
user_id
39840           0      1      0      0      0      0      0      0      0

product_id  19     ...  49676  49677  49678  49679  49680  49681  49683  \
user_id            ...
39840           0  ...      0      0      0      0      0      0      0

product_id  49685  49686  49688
user_id
39840           0      0      0

[1 rows x 29182 columns]

In [10]:
t1.iloc[:,1].sum()

1

In [11]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39834 entries, 7 to 206208
Columns: 29182 entries, 1 to 49688
dtypes: int64(29182)
memory usage: 8.7 GB